In [23]:
# Machine Learning extended 패키지 설치
!pip install mlxtend

Requirement already satisfied: mlxtend in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (0.23.3)
Requirement already satisfied: scipy>=1.2.1 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from mlxtend) (1.14.1)
Requirement already satisfied: numpy>=1.16.2 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from mlxtend) (2.1.2)
Requirement already satisfied: pandas>=0.24.2 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from mlxtend) (2.2.3)
Requirement already satisfied: scikit-learn>=1.3.1 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from pandas>=0.24.2->mlxtend) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from pandas>=0.24.2->mlxtend) (2024.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from scikit-learn>=1.3.1->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in /Users/jungdain/Documents/GitHub/나도코딩_웹스크래핑/venv/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [24]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [25]:
# 트랜잭션 구성
dataset = [['겨울왕국', '미녀와 약수', '쥬라기 월드', '아바타', '타이타닉'],
           ['스타워즈', '어벤져스', '아이언맨'],
           ['스타워즈', '아바타', '라이온 킹', '어벤져스'],
           ['쥬라기 월드', '아바타', '해리포터'],
           ['스타워즈', '겨울왕국', '미녀와 야수', '라이온 킹', '타이타닉'],
           ['스타워즈', '어벤져스', '분노의 질주', '쥬라기 월드']]

In [26]:
# 리스트의 리스트로된 트랜젹션 데이터를 Numpy 배열로 인코딩
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)

In [27]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,겨울왕국,라이온 킹,미녀와 야수,미녀와 약수,분노의 질주,스타워즈,아바타,아이언맨,어벤져스,쥬라기 월드,타이타닉,해리포터
0,True,False,False,True,False,False,True,False,False,True,True,False
1,False,False,False,False,False,True,False,True,True,False,False,False
2,False,True,False,False,False,True,True,False,True,False,False,False
3,False,False,False,False,False,False,True,False,False,True,False,True
4,True,True,True,False,False,True,False,False,False,False,True,False
5,False,False,False,False,True,True,False,False,True,True,False,False

In [28]:
# 지지도가 0.3 이상인 값만 확인
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)
frequent_itemsets

     support       itemsets
0   0.333333         (겨울왕국)
1   0.333333        (라이온 킹)
2   0.666667         (스타워즈)
3   0.500000          (아바타)
4   0.500000         (어벤져스)
5   0.500000       (쥬라기 월드)
6   0.333333         (타이타닉)
7   0.333333   (타이타닉, 겨울왕국)
8   0.333333  (라이온 킹, 스타워즈)
9   0.500000   (어벤져스, 스타워즈)
10  0.333333  (아바타, 쥬라기 월드)

In [31]:
# 신뢰도가 0.3 이상인 값만 확인
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3, num_itemsets=len(frequent_itemsets))

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(타이타닉),(겨울왕국),0.333333,0.333333,0.333333,1.000000,3.000000,1.0,0.222222,inf,1.000000,1.00,1.000000,1.000000
1,(겨울왕국),(타이타닉),0.333333,0.333333,0.333333,1.000000,3.000000,1.0,0.222222,inf,1.000000,1.00,1.000000,1.000000
2,(라이온 킹),(스타워즈),0.333333,0.666667,0.333333,1.000000,1.500000,1.0,0.111111,inf,0.500000,0.50,1.000000,0.750000
3,(스타워즈),(라이온 킹),0.666667,0.333333,0.333333,0.500000,1.500000,1.0,0.111111,1.333333,1.000000,0.50,0.250000,0.750000
4,(어벤져스),(스타워즈),0.500000,0.666667,0.500000,1.000000,1.500000,1.0,0.166667,inf,0.666667,0.75,1.000000,0.875000
5,(스타워즈),(어벤져스),0.666667,0.500000,0.500000,0.750000,1.500000,1.0,0.166667,2.000000,1.000000,0.75,0.500000,0.875000
6,(아바타),(쥬라기 월드),0.500000,0.500000,0.333333,0.666667,1.333333,1.0,0.083333,1.500000,0.500000,0.50,0.333333,0.666667
7,(쥬라기 월드),(아바타),0.500000,0.500000,0.333333,0.666667,1.333333,1.0,0.083333,1.500000,0.500000,0.50,0.333333,0.666667

In [36]:
# 향상도 확인
df_assoc = association_rules(frequent_itemsets, metric="lift", min_threshold=1, num_itemsets=len(frequent_itemsets))
df_assoc.sort_values('lift', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(타이타닉),(겨울왕국),0.333333,0.333333,0.333333,1.000000,3.000000,1.0,0.222222,inf,1.000000,1.00,1.000000,1.000000
1,(겨울왕국),(타이타닉),0.333333,0.333333,0.333333,1.000000,3.000000,1.0,0.222222,inf,1.000000,1.00,1.000000,1.000000
2,(라이온 킹),(스타워즈),0.333333,0.666667,0.333333,1.000000,1.500000,1.0,0.111111,inf,0.500000,0.50,1.000000,0.750000
3,(스타워즈),(라이온 킹),0.666667,0.333333,0.333333,0.500000,1.500000,1.0,0.111111,1.333333,1.000000,0.50,0.250000,0.750000
4,(어벤져스),(스타워즈),0.500000,0.666667,0.500000,1.000000,1.500000,1.0,0.166667,inf,0.666667,0.75,1.000000,0.875000
5,(스타워즈),(어벤져스),0.666667,0.500000,0.500000,0.750000,1.500000,1.0,0.166667,2.000000,1.000000,0.75,0.500000,0.875000
6,(아바타),(쥬라기 월드),0.500000,0.500000,0.333333,0.666667,1.333333,1.0,0.083333,1.500000,0.500000,0.50,0.333333,0.666667
7,(쥬라기 월드),(아바타),0.500000,0.500000,0.333333,0.666667,1.333333,1.0,0.083333,1.500000,0.500000,0.50,0.333333,0.666667

### 제시하는 추천 목록
수업에 나오는대로 신뢰도, 지지도, 향상도 순으로 분석을 하였다.
마지막 결과값을 통해서도 알 수 있듯이 데이터의 값이 적어 방향성이 같은 것을 알 수 있다.
타이타닉을 좋아하면 겨울왕국도 좋아하고,겨울왕국을 좋아하면 타이타닉을 좋아하는것이다. 
이 결과를 기반으로 추천목록을 만든다면 [(타이타닉, 겨울왕국), (라이온 킹, 스타워즈), (어벤져스, 스타워즈), (아바타, 쥬라기 월드)] 이렇게 묶어서 추천할것 같다.