In [2]:
import pandas as ps

In [3]:
df = ps.DataFrame([[2016, 2.8, 1637000],
              [2017, 3.1, 1730000],
              [2018, 3.0, 1830000]], columns=['year', 'GDP rate', 'GDP'])

In [4]:
df['GDP'] = df['GDP'].apply(lambda x: f'{x / 1_000_000:.6g}M')

In [5]:
df

   year  GDP rate     GDP
0  2016       2.8  1.637M
1  2017       3.1   1.73M
2  2018       3.0   1.83M

In [10]:
df['GDP rate'].sum()

8.9

In [11]:
df['GDP rate'].mean()

2.966666666666667